body {
    display: ;

}

#search-bar {
    max-width: 80%;
    height: 50px;

}

#carousel-size {
    /* max-height: 500px; */
    width: auto;
}

#giphy-letter {
    /* height: 300px;
    width: 150px;
    margin: 25px;
    border: 5px black solid;
    border-radius: 15px; */

}