body {
    display: ;

}

#search-bar {
    max-width: 80%;
    height: 50px;

}

#carousel-size {
    /* max-height: 500px; */
    width: auto;
}

.wrapper {
    display: flex;
    flex-basis: auto;
    margin: 50px auto 50px auto;
    background-color: black;
    width: 100%;
}

.card{
    width: 100%;
    height: 100%;
}

.card-background{
    background-color: black;
    
}
